
body {
  background-image: url('../images/background.jpg');
}

h1{
  font-family: "Roboto", cursive;
  font-weight: bold;
  font-size: 45px;
  text-decoration: underline;
  text-align: center;
  color: blue;
}


h2{
  font-family:'Lanterosy';
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  color: red;
}

h3{
  font-family: "Roboto", fantasy;
  font-weight: lighter;
  font-size: 30px;
  text-decoration: overline;
  text-align: center;
  color: red;
}

h4{
  text-align: center;
  background-color: orange;
  padding: 20px;
  border: solid 2px black;
  border-radius: 30px;
  margin: 30px 50px 70px
}

p {
  color: green;
  font-weight: bold;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 75%;
    width: 150%;
  }

  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nav li{
  display: inline;
  font-size: 20px;
  padding-left: 10px;
  background-color: blue;
  color: red;
}

.relative{
  color: black;
  background-color: red;
  position: relative;
  height: 20px;
  right: 10px
}

.absolute{
  color: black;
  background-color: yellow;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.fixed{
  color: black;
  background-color: green;
  position: fixed;
  bottom: 30px;
}
p:hover, h1:hover {
  background-color: yellow;
}

h5 {
  color: yellow;
  float: right;
}
