body {
  margin: 0;
  padding: 0;
}

  .container {
  margin: 150px auto;
  width: 50%;
  padding: 8px;
}


li {
  display: inline-block;
}


.text {
  text-align: justify;
  font-family: helvetica;
  font-size: 40px;
}


header {
  text-align: center;
  background: beige;
  padding: 20px 0;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  background: beige;
  padding: 5px;

}

.contact-form {
  background: beige;
  padding: 40px;
  max-width: 700px;
  border-radius: 30px;
  color: black;
  font-family: inherit;
  margin: 15px auto;
  text-align: left;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
}

.reset input,
.submit input {
  background: black;
  color: white;
  padding: 5px 20px;
}

.reset,
.submit {
  display: inline;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}

textarea {
  font-family: sans-serif;
  padding: 10px 10px;
  border-radius: 5px;
}

select {
  width: 185px;
  padding: 8px 0;
  border-radius: 4px;
}
